* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.box{

    height: 80px;
    width: 320px;
    background-color: black;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.star {
    color: #fff;
    font-size: 30px;
    padding: 5px;
}

.yellow {
    color: #FFB200;
}

.gray {
    color: grey;
}

.rating {
    font-size: 40px;
    font-weight: bold;
}

.text {
    font-size: 20px;
    font-weight: 500;
}

.wrapper {

    background-color: #FFB200;
    width: 70px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ratingBox {
    position: absolute;
    left: 495px;
    top: 256px;
}